@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

/* dark03 */
.text-gray {
  color: #424242;
}

/* dark02 */
.text-light-gray {
  color: #727272;
}

/* Dark 1 */
.dark1 {
  color: rgb(19, 19, 19);
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.section-title {
  font-size: 45px;
  font-weight: 500;
}

.fs20 {
  font-size: 20px;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

main > section {
  margin-top: 130px;
}

/* Header Styles */

/* Nav Related Style */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-left: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner,
main {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* Banner Related style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.image-width {
  width: 100%;
}

/* team and feature related styles */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

.f700 {
  font-weight: 700;
}

.color-orange {
  color: rgb(255, 144, 14);
}

.feature-description {
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

/* feature-you-will-love */

.feature-you-will-love {
  justify-content: space-between;
}

.features-text-content {
  width: 586px;
}

.side-border {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}

.features-card {
  margin: 24px auto;
  padding: 35px 42px 35px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
